body {
  font-family: 'Poppins', sans-serif;
 background: #0F0F0F !important;
}

/*svg color changes sidebar*/

.svg-circle {
  transition: fill 0.3s ease;
}

.svg-circle.clicked {
  fill: #0F0F0F;
}

/*svg color changes sidebar end*/

.services-modal{
    background: #1A1A1A;
}

.sidebar-position{
    position:fixed;
}
 .box-container-responsive{
    /*margin-left: -3px;*/
 }

.nav-date{
   color: #FFFFFF;
}

.log-btn {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.btn-secondary{
    background: #1A1A1A;
    color: #FFFFFF;
     padding: 16px;
}

/*div[role="progressbar"] {*/
/*   --fg: #FFF866 !important;*/
/*   color: #FFF866 !important;*/
/*}*/

.lot-date{
    color: #808080;
}

.current-status{
    color: #9F9F9F;
}

.status{
    color: #FFFFFF;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   color: #0F0F0F;
   background: #FFF866 !important;
   box-shadow: 0px 0px 40px rgba(255, 248, 102, 0.2);
}


.accordion-button:not(.collapsed) {
    color: #0F0F0F;
   background: #FFF866;
}

.under-content-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;


  /* ODN Color/Neutral/50 */

  background: #1A1A1A;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.box {
  width: 340px !important;
  height: auto;
  margin-left: 21px !important;
  margin-right: 8px !important;
  margin-bottom: 12px !important;
  margin-top: 12px !important;
}


.tab-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px !important;
  color: #808080;

  width: 251px !important;
  height: 52px !important;
  font-weight: 500;
  font-size: 14px;

  /* ODN Color/Neutral/100 */

 background: #1A1A1A !important;
  border-radius: 0px !important;
  /* Inside auto layout */
  /*border: 0px solid #ffffff;*/
  flex: none;
  order: 0;
  flex-grow: 1;
}

.siderbar-button {
  width: 100%;
  height: 68px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
 color: #FFFFFF;
 background: #1A1A1A;
}

.lotnoF {
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Poppins';
  margin-top: -12px;
}

.headingF {
  font-weight: 500;
  font-size: 28px;
  color: #FFFFFF;
}

.underheadingF {
  font-weight: 400;
  font-size: 16px;
  color: #808080;
}

.totallotF {
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
}

.viewport {
  height: 100vh;
}

.accordion-body {
 background: #1A1A1A;
}

.under-button {
  background: #1A1A1A;
  color: #808080;
  font-weight: 400;
  font-size: 16px;
  text-align:left;
}

.under-content-div .lotnoF{
  font-size: 14px;
}

.lot-date {
  font-weight: 400;
  font-size: 12px;
  color: #9F9F9F;
  margin-top: -8px;
}

.inward-qty {
  font-weight: 400;
  font-size: 12px;
  color: #9F9F9F;
}

.inward-qty-num {
  font-size: 14px;
  line-height: 24px;
  color: #9F9F9F;
  margin-top: -10px;
}

.view-img {
  font-weight: 500;
  font-size: 14px;
  color: #9F9F9F;
  margin-top: 8px;
  padding: 16px;
}

/* Lot Details Css */

.back-btn {
  color: #9F9F9F;
  background: #0F0F0F !important;
  margin-top: 24px;
  /* margin-left: 19px; */
  font-weight: 500;
  font-size: 16px;
}

.lot-no-sty {
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  /* margin-left: 24px; */
  margin-top: 40px;
}

.lot-date-sty {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: #9F9F9F;
  margin-top: 12px;
  /* margin-left: 24px; */
}

.inward-sty {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-right: 4px;
  color: #9F9F9F;
  margin-top: 60px;
}

.table-heading-sty {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #9F9F9F;
}

.wrc-no-sty {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

.table-column {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.table-img {
  display: flex;
  justify-content: center;
}

.table-invoice {
  width: 85px;
  height: 27px;
}

.log-out-button{
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: #FFFFFF !important;
    margin-top: 280px;
    border-radius: 0px;
    padding: 16px 32px;
    gap: 8px;
    background: #F13B3B;
    width: 100% !important;
}

.last-button-mar {
  /* margin-left: 24px; */
  margin-top: 40px;
  /* width: 100%; */
}


.download-invoice {
  font-weight: 500;
  font-size: 14px;
  color: #9F9F9F;
  margin-top: 50px;
  /* margin-right: 24px; */
  text-decoration: none;
}

.progress-box {
  background: #1A1A1A;
  padding: 7px;
  border-radius: 0px;
}

.progress {
  height: 13px;
  border-radius: 0px;
  background-color: #ddd;
  position: relative;
}

.progress-bar {
  position: absolute;
  top: 0;
  bottom: 0;
 background: #FFF866;
}

.progress-bar-2 {
  left: 20%;
  background: #FFF866;
}

.progress-bar-3 {
  left: 40%;
  background: #FFF866;
}

.progress-bar-4 {
  left: 60%;
  background: #FFF866;
}

.progress-bar-5 {
  left: 80%;
  background: #FFF866;
}

.progress-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.progress-label {
  width: 20%;
  text-align: center;
  color: #fff;
}

.progress-label h5 {
  margin: 0;
}

.progress-upper-heading {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.progress-bottom-heading {
  font-weight: 500;
  font-size: 11px;
  color: #808080;
}

.log-btn-mob-sty {
  width: 100%;
 background: #F13B3B;
  height: 60px;
  margin-top: 430px;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0F0F0F;
}
.nav-searchbar{
      width:33%;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -290px; /* initially hide the sidebar */
  width: 270px;
  height: 100%;
  background: #1A1A1A;
  transition: right 0.3s ease;
  overflow-y: auto; /* enable vertical scrolling */
  z-index: 9999;
}

.sidebar.open {
  right: 8px; /* slide in the sidebar when open class is added */
}

.close-button {
    position: absolute;
    top: 6px;
    left: 213px;
    cursor: pointer;
    background:none !important;
    border-radius: 2px;
}

/* your assets click lot style */

.side-lot {
  font-weight: 500;
  font-size: 16px;
  color: #9F9F9F;
  word-wrap: break-word;
}

.side-text {
  font-weight: 400;
  font-size: 11px;
  color: #9F9F9F;
}

.side-text2 {
  font-weight: 400;
  font-size: 16px;
  color: #9F9F9F;
}

.share {
  font-weight: 500;
  font-size: 14px;
  color: #9F9F9F;
}

.link {
  font-weight: 400;
  font-size: 16px;
  color: #9F9F9F;
  text-decoration: none;
}

.link-back {
  background: #EBEBEB;
  padding: 16px;
}

.breadcrumb-deco {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #9F9F9F;
}

.TAGS {
  font-weight: 400;
  font-size: 14px;
  color: #9F9F9F;
}

.under-acco-button {
  font-weight: 400;
  font-size: 12px;
  background: #D1D1D1;
  width: 100%;
  color: #9F9F9F;
}

.Assign-tags {
  font-weight: 400;
  font-size: 12px;
  color: #808080;
}

.heading-details {
  font-weight: 500;
  font-size: 14px;
  color: #9F9F9F;
}

.remove-tag {
  font-weight: 400;
  font-size: 12px;
  color: #BE5656;
}

.add-more-tag-btn {
  font-weight: 400;
  font-size: 12px;
  color: #9F9F9F;
  padding: 10px;
}

.div-accor-button {
  background: #D1D1D1;
  font-weight: 400;
  font-size: 16px;
  color: #9F9F9F;
}

.editedandraw-img-btn {
  padding: 16px;
  gap: 8px !important;
  width: 393px !important;
  height: 52px !important;
  font-weight: 500;
  font-size: 14px;
  background: #D1D1D1 !important;
  border-radius: 0px !important;
  border: 2px solid #ffffff !important;
}

.Adaptation {
  background: #EBEBEB;
  height: 56px;
  font-weight: 400;
  font-size: 16px;
  color: #9F9F9F;
  width: 100%;
}

.brand-text {
  word-wrap: break-word;
  font-weight: 500;
  font-size: 12px;
  margin-top: 4px;
  color: #9F9F9F;
}

.brand-div {
  background: #EBEBEB;
  height: 64px;
  margin-left: 0px;
  margin-right: 0px;
}

.brand {
  font-weight: 400;
  font-size: 16px;
  color: #9F9F9F;
  margin-top: 9px;
}

.brand-div2 {
  height: 56px;
  background: #EBEBEB;
  margin-left: 0px;
  margin-right: 0px;
}

.brand-img {
  padding: 16px;
}

.brand-img-m {
  margin-left: 0px;
  margin-right: 0px;
  background: #EBEBEB;
}

.brand-img-name {
  font-weight: 400;
  font-size: 16px;
  color: #9F9F9F;
  overflow-wrap: anywhere;
  margin-top: -19px;
}


/* Admin Panel */

.create-user-btn {
  font-weight: 500;
  font-size: 16px;
  color: #9F9F9F;
}

.back-btn {
  color: #FFFFFF;
  background: #FFFFFF;
  margin-top: 24px;
  /* margin-left: 19px; */
  font-weight: 500;
  font-size: 16px;
}

.create-user-txt {
  font-weight: 400;
  font-size: 24px;
  color: #9F9F9F;
  margin-top: 35px;
}

.user-form {
  font-weight: 400;
  font-size: 16px;
  color: #B8B8B8;
}

.mandatory {
  font-weight: 400;
  font-size: 12px;
  color: #9F9F9F;
}

.user-btn {
  font-weight: 500;
  font-size: 16px;
  color: #EBEBEB;
  height: 56px;
  background: #9F9F9F;
}

.default-pass {
  font-weight: 400;
  font-size: 11px;
  color: #9F9F9F;
}

.odn-sign {
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
}

.table-head {
  font-weight: 500;
  font-size: 14px;
  color: #9F9F9F;

}

.table-col {
  font-weight: 400;
  font-size: 16px;
  color: #9F9F9F;
}

.table-desc {
  font-weight: 500;
  font-size: 12px;
  color: #9F9F9F;
  background: #EBEBEB;
  padding: 5px;
}

.log-out-button {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: #808080;
   margin-top: 280px; 
  border-radius: 0px;
  align-self: flex-end;
  
}

.log-btn {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.myPopover {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
  min-width: 50%;
  width: 60%;
  left: 50%;
}

.myPopover a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #9F9F9F;
  font-size: initial;
}

.myPopover a:hover{
  color: #0F0F0F;
}

/* form floating on top */

.form-floating {
  position: relative;
}

.form-floating label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.9rem;
  opacity: 0.5;
  transition: all 0.2s ease-out;
  pointer-events: none;
}

.form-floating input,
.form-floating textarea {
  padding: 1.5rem 0.5rem 0.5rem;
  font-size: 1rem;
}

.form-floating input:focus,
.form-floating textarea:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.form-floating input:focus~label,
.form-floating textarea:focus~label,
.form-floating input:not(:placeholder-shown)~label,
.form-floating textarea:not(:placeholder-shown)~label {
  transform: translate(0, -50%);
  top: 0;
  left: 0.5rem;
  opacity: 1;
  background-color: white;
  padding: 0 0.25rem;
  color: #B8B8B8;
  font-weight: 400;
  font-size: 11px;
}

.profile-btn {
  width: 100%;
  background: #EBEBEB;
  font-weight: 500;
  font-size: 16px;
  color: #B8B8B8;
  padding: 16px;
  border-radius: 0px;
}

.verification-div {
  padding: 5px;
  margin-left: 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1325px) {
  .siderbar-button {
    font-size: 8px;
    font-weight: 700;
  }

  .box-container-responsive {
    justify-content: center;
    margin-right: 0px !important;
  }

  .lots-bar {
    display: contents;
  }

  .div-accor-button {
    font-size: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  .main-container-resp {
    width: 100%;
    margin-top: 536px;
  }
  .sidebar-position{
    position:absolute !important;
}
  
  .box-container-responsive {
    justify-content: center;
  }

  .log-btn-mob-sty {
    margin-top: 0px;
  }

  .log-out-button {
    margin-top: 0px !important;
  }

  .lots-bar {
    display: contents;
  }

  .wrc-box {
    display: grid !important;
    justify-content: center !important;
  }

  .wrc-detail-img {
    display: grid !important;
    justify-content: center !important;
  }

  .brand-text {
    margin-top: 14px;
  }
}


@media only screen and (max-width: 576px) {

  .box-container-responsive {
    justify-content: center;
  }
  
  .sidebar-position{
    position:absolute !important;
  }

  .log-btn-mob-sty {
    margin-top: 0px;
  }

  .main-container-resp {
    width: 100%;
    margin-top: 536px;
  }

  .last-button-mar {
    justify-content: center;
  }

  .last-btn-div {
    display: flex !important;
    flex-direction: column;
  }

  .progress-bottom-heading {
    font-weight: 500;
    font-size: 8px;
    color: #9F9F9F;
  }

  .progress-upper-heading {
    font-weight: 400;
    font-size: 10px;
    color: #9F9F9F;
  }

  .lot-no-sty {
    font-weight: 400;
    font-size: 12px;
    color: #9F9F9F;
    /* margin-left: 24px; */
    margin-top: 40px;
  }

  .lot-date-sty {
    font-weight: 400;
    font-size: 9px;
    letter-spacing: 0.25px;
   color: #808080;
    margin-top: 12px;
  }

  .inward-sty {
    font-weight: 400;
    font-size: 9px;
    letter-spacing: 0.5px;
    margin-right: 4px;
    color: #9F9F9F;
    margin-top: 60px;
  }

  .table-heading-sty {
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    color: #808080;
  }

  .table-column {
    font-weight: 400;
    font-size: 8px;
    color: #9F9F9F;
  }

  .wrc-no-sty {
    font-weight: 400;
    font-size: 9px;
    color: #666666;
  }

  .last-button {
    font-weight: 500;
    font-size: 12px;
  
  }

  .log-out-button {
    margin-top: 0px !important;
  }

  .tab-button {
    width: 269px !important;
    background: #1A1A1A;
  }

  .your_assets_tab .tab-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px !important;

    width: 539px !important;
    height: 52px !important;
    font-weight: 500;
    font-size: 14px;

    /* ODN Color/Neutral/100 */

    background: #D1D1D1 !important;
    border-radius: 0px !important;
    /* Inside auto layout */
    border: 2px solid #ffffff !important;
    flex: none;
    order: 0;
    flex-grow: 1;
  }

  .lots-bar {
    display: contents !important;
  }

  .wrc-detail-img {
    display: grid !important;
    justify-content: center !important;
  }

  .wrc-box {
    display: grid !important;
    justify-content: center !important;
  }
}

@keyframes growProgressBar {

  0%,
  33% {
    --pgPercentage: 0;
  }

  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}


div[role="progressbar"] {
  --size: 3rem;
  --fg: #9F9F9F;
  --bg: #D1D1D1;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background:
    radial-gradient(closest-side, #ebebeb 80%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}
