body {
  font-family: 'Poppins', sans-serif;
 background: #0F0F0F !important;
}

  .url-copied{
      background: #0F0F0F;
      border: 1px solid var(--neutral-700, #333);
      box-shadow: 6px 24px 40px 0px rgba(255, 255, 255, 0.06);
      width: 338px;
  }
  .url-copied-text{
      color: #FFF;
      /* DAM/Title/Medium */
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.15px;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  .url-copied-link{
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 16px 12px;
      background: rgba(152, 167, 218, 0.10);
      margin-top: 8px;
  }
  .url-copied-link-text{
      color: var(--success-300, #98A7DA);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;
      margin-top: 0px;
      margin-bottom: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .url-copied-element{
      padding: 24px;
  }

  /* favourites section */

  .added-fav-div{
      background: var(--tertiary-700-main, #50AB64);
      width:173px;
  }
  .added-fav-and-notfav-Text{
      color: var(--shades-0, #FFF);
      /* DAM/Label/Large */
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.1px;
      padding:16px;
      text-align: center;
      position: relative;
      top: auto;
      margin: 0px;
  }

  .added-notfav-div{
      width:173px;
      background: var(--error-500, #F26B6B);
  }


/*svg color change when active*/

.tab {
      display: inline-block;
      cursor: pointer;
    }

    .tab.active .tab-text {
      color: #0F0F0F;
      background: #FFF866;
    }

    .tab.active .tab-icon {
      fill: #0F0F0F;
      background: #FFF866;
    }

/*svg color change when active End*/

.main-container-resp{
    padding:24px;
}

.accordion-flush .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-bottom: 0;
}

.nav-link:hover {
    color: #FFFFFF;
}

a.btn.border.rounded-0.btn-secondary:hover {
   background: #FFF300;
   color: #0F0F0F;
   border: 1px solid #1A1A1A !important;
}

a.btn.btn-light.border-0.back-btn:hover {
   
    border-radius:0px;
    color: #FFFFFF !important;
    font-weight: 500 !important;
    font-size: 16px !important;
}

a.btn.border.rounded-0.view-img:hover {
    background: #FFF300;
    color: #0F0F0F;
    border: 1px solid #1A1A1A!important;
}

.brand-name-under-track-table{
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom:0px;
}

/*svg color changes sidebar*/

.svg-circle {
  transition: fill 0.3s ease;
}

.svg-circle.clicked {
  fill: #0F0F0F;
}

.btn:focus{
    border-radius: 0;
    box-shadow: none;
}

.mySvg:focus{
    border-radius: 0;
    box-shadow: none;
}

.btn.border-0.rounded-circle.myButton {
    padding: 0px;
    font-size: 24px;
}


.sort-by-button{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #808080;
    border: 1px solid #333333;
    padding:16px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.dropdown-menu-show-sortby{
    background: #0F0F0F;
    box-shadow: 4px 16px 40px rgba(255, 255, 255, 0.06);
    border-radius:0px;
    border: 1px solid #333333;
    min-width: 110px;
}

.dropdown-item, .dropdown-menu-show-sortby-item{
    padding:6px 24px !important;
}

.dropdown-menu-show-sortby-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #B8B8B8;
}

 .download-img-raw-btn{
      background: #0F0F0F !important;
      color: #FFFFFF !important;
      border:1px solid #9F9F9F!important;
      border-radius:0px;
      font-size: 16px;
      font-weight: 500;
      padding: 16px 32px;
  }
  
  .download-img-raw-btn:hover{
      background: #FFF300 !important;
      color: #0F0F0F !important;
      border: 1px solid #0F0F0F!important;
  }


/*svg color changes sidebar end*/

.copy-link-sidebar{
    background: rgba(152, 167, 218, 0.10);
    color: var(--success-300, #98A7DA);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    display: flex;
    padding: 16px 12px;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin-top:8px;
}

.copy-link-sidebar:hover{
    color: var(--success-300, #98A7DA);
}

.LOT-STATUS-head-tracklots{
       color: var(--shades-0, #FFF);
       font-size: 16px;
        font-family: Poppins;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.15px;
        margin-bottom:16px;
        margin-top:40px;
        text-transform: uppercase;
  }
  
  .sec-parent-div{
        gap:24px;
        padding: 16px 32px;
        background-color: #1A1A1A;
    }
    .border-for-track-lot-start{
      color: #333;
      height: 30px;
      margin-top: 10px;
    }

.services-modal{
    background: #1A1A1A;
    width:100%; 
}

.services-modal-for-links{
    background: #1A1A1A;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.total-sku-img-body{
    background: #1A1A1A;
    gap: 16px;
    align-items:center;
}

.sidebar-position{
    position:fixed;
}

.file-wrc-lot-no {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration:none;
}

.file-wrc-lot-no:hover{
    color: #FFFFFF;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 0px;
    /*background: #333333;*/
    background: #1A1A1A;
}

.mult-select-tag .item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 0.2rem 0.4rem;
    margin: 0.2rem;
    font-weight: 500;
    background: #1D1D1D;
    border-radius: 0px;
    border: 0px;
}

.card-body-style{
    background: #333333 !important;
}

.card-header {
    padding: 0.5rem 0rem;
    margin-bottom: 0;
   background: #1A1A1A;
}
 
 /*.card-body{*/
 /*    background: #1A1A1A;*/
 /*}*/

.nav-date{
   color: #FFFFFF;
}

.log-btn {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.btn-secondary{
    background: #1A1A1A;
    color: #FFFFFF;
     padding: 16px;
}

/*div[role="progressbar"] {*/
/*   --fg: #FFF866 !important;*/
/*   color: #FFF866 !important;*/
/*}*/

.lot-date{
    color: #808080;
}

.current-status{
    color: #9F9F9F;
    margin-bottom:0px;
}

.status{
    color: #FFFFFF;
    margin-bottom:0px;
    margin-top:4px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   color: #FFFFFF;
   background: #1A1A1A !important;
   border-radius:0px;
   text-align:left;
}


.breadcrumb-item.active {
    color: #FFFFFF;
}

a.breadcrumb-deco:hover {
    color: #FFFFFF;
}

li.breadcrumb-item, ::after {
    color: #808080;
}

.accordion-item {
    background-color: #fff;
    border: 1px solid #333333;
}

.accordion-button:not(.collapsed) {
    color: #0F0F0F;
   background: #FFF300;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M11.25 1.49998L6.74998 1.49998C2.99998 1.49998 1.49997 2.99998 1.49998 6.74999L1.49998 11.25C1.49998 15 2.99998 16.5 6.74998 16.5L11.25 16.5C15 16.5 16.5 15 16.5 11.25L16.5 6.74998C16.5 2.99998 15 1.49998 11.25 1.49998Z' stroke='%23808080' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.78571 7.92871L8.81142 10.9459L11.8371 7.92871' stroke='%23808080'  stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(360deg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M6.75001 16.5H11.25C15 16.5 16.5 15 16.5 11.25V6.75001C16.5 3 15 1.5 11.25 1.5H6.75001C3 1.5 1.5 3 1.5 6.75001V11.25C1.5 15 3 16.5 6.75001 16.5Z' stroke='%230F0F0F'  stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.2143 10.0713L9.18858 7.05414L6.16286 10.0713' stroke='%230F0F0F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.accordion-header{
    margin-left: -12px;
    margin-right: -12px;
}

.under-content-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 24px;


  /* ODN Color/Neutral/50 */

  background: #1A1A1A;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.box {
  padding: 12px 24px;
}


.nav-pills .nav-item {
    width: 100%;
}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    width: 100%;
    text-align: left;
}

button.test.myButton {
    border: 1px solid #FFFFFF;
    padding: 8px;
    background: #0F0F0F;
    color: #FFFFFF;
}

button.tracklot-allService-text {
    padding: 8px 24px;
}

button.test.myButton:hover{
    background:#1A1A1A;
   color: #FFFFFF;
}

ul#pills-tab {
    width: 100%;
}

.tab-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px !important;
  color: #808080;

  width: 100% !important;
  height: 52px !important;
  font-weight: 500;
  font-size: 14px;

  /* ODN Color/Neutral/100 */

 /*background: #1A1A1A !important;*/
  border-radius: 0px !important;
  /* Inside auto layout */
  /*border: 0px solid #ffffff;*/
  flex: none;
  order: 0;
  flex-grow: 1;
}

.siderbar-button {
  width: 100%;
  height: 68px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
 color: #FFFFFF;
 background: #1A1A1A;
}

.lotnoF {
  font-weight: 500;
  font-size: 16px !important;
  color: #FFFFFF;
  font-family: 'Poppins';
  margin-bottom:0px;
}

table{
    color: #333333;
}

tbody{
    border:#333333;
}

.WRC-info-para{
    font-weight: 500;
   font-size: 16px;
   letter-spacing: 0.15px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-top:40px;
   margin-bottom: 0px;
}

.headingF {
  font-weight: 500;
  font-size: 28px;
  color: #FFFFFF;
  margin-bottom:0px;
}

.underheadingF {
  font-weight: 400;
  font-size: 16px;
  color: #808080;
  margin-bottom: 0px;
  margin-top: 12px;
}

.totallotF {
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom:0px;
  letter-spacing:0.5px;
}

.viewport {
  height: 100vh;
}

.accordion-body {
 background: #0F0F0F;
 padding:0px;
 margin:10px 0px;
}

.accordion-item {
    background: #0F0F0F;
}

.under-button {
  background: #0F0F0F;
  color: #808080;
  font-weight: 400;
  font-size: 16px;
  text-align:left;
}

.under-content-div .lotnoF{
  font-size: 13px;
}

.SKU-BOX-STYLE{
    padding: 12px 12px 12px 12px;
}

.lot-date {
  font-weight: 500;
  font-size: 14px;
  color: #9F9F9F;
  line-height: 0;
  margin-bottom:0px;
  margin-top:8px;
}

.lot-no-heading{
  font-weight: 500;
  font-size: 14px;
  color: #808080;
  margin-bottom:0px;
}

.inward-qty {
  font-weight: 500;
  font-size: 14px;
  color: #808080;
  margin-bottom:0px;
  /*margin-top: 36px;*/
}

.inward-qty-num {
 font-weight: 400;
 font-size: 16px;
  margin-bottom:0px;
  color: #FFFFFF;
  margin-top:4px;
}

.yourasse-file-img{
    width:100%;
    height:320px;
    object-fit: cover;
    object-position: top;
}

.your-asset-lotno-underbox{
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    overflow-wrap: anywhere;
    margin-bottom:0px;
}

.file-lot-date-para{
    margin-bottom:0px;
    margin-top: 4px;
    color: var(--neutral-400, #808080);
/* DAM/Body/Medium */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.your-asset-lot-date-underbox{
    font-weight: 500;
    font-size: 14px;
    color: #808080;
}

.your-asset-lot-date{
    font-weight: 400;
    font-size: 14px;
   color: #808080;

}

.view-img {
  font-weight: 500;
  font-size: 16px;
 color: #FFFFFF;
  /*margin-top: 8px;*/
  padding: 16px;
}

/* Lot Details Css */

.back-btn {
  color: #9F9F9F;
  background: #0F0F0F !important;
  margin-top: 24px;
  padding-left: 0px;
  font-weight: 500;
  font-size: 16px;
}



.lot-no-sty {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  /* margin-left: 24px; */
  margin-top: 4px;
  line-height:24px;
  margin-bottom: 0px;
}

.lot-date-sty {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.25px;
  color: #808080;
  margin-top: 12px;
  margin-bottom:0px;
  /* margin-left: 24px; */
  display:flex;
  gap:4px;
}

.inward-sty {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-right: 4px;
  color: #9F9F9F;
  margin-top: 60px;
}

.track-lot-table-details{
    margin-top:16px !important;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-bottom: 1px solid #333333;
    /*border-top: 1px solid #333333;*/
}

thead {
    background: #1A1A1A;
}

th.table-heading-sty {
    padding: 16px;
}

td.table-column {
    padding: 16px 16px 16px 16px;
    vertical-align: middle;
}

.table-heading-sty {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #808080;
}

.wrc-no-sty {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.table-column {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.table-img {
  display: flex;
  justify-content: center;
}

.table-invoice {
  width: 85px;
  height: 27px;
}

/*new logout button*/

.logout-container {
  position: fixed;
  bottom: 24px;
  left: 20px;
}

.logout-container:hover .logout-button {
      color: #0F0F0F;
      /* Change the text color on hover */
    }

  .logout-container:hover .button-icon {
      fill: #0F0F0F;
      /* Change the SVG color on hover */
  }

.logout-button {
  display: inline-block;
  padding: 12px 16px;
  background: #1A1A1A;
  color: #808080;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  
}

.logout-button:hover{
  color: #0F0F0F;
  text-decoration: none;
  background: #e44d4d;
}
 
/*new logout button end*/ 

.log-out-button{
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    color: #0F0F0F !important;
    margin-top: 210px;
    border-radius: 0px;
    padding: 16px 32px;
    gap: 8px;
    background: #F13B3B;
    width: 100% !important;
}

.last-button-mar {
  /* margin-left: 24px; */
  margin-top: 24px;
  /* width: 100%; */
}


.download-invoice {
  font-weight: 500;
  font-size: 14px;
  color: #98A7DA;
  margin-top: 50px;
  /* margin-right: 24px; */
  text-decoration: none;
}

.progress-column-status-percen{
    background: #1A1A1A;
    padding-left: 0px;
}

.progress-row{
    padding-left: 12px
}

.progress-columnn{
    padding-left: 0px;
}

.progress-status-head{
    font-weight: 500;
    font-size: 14px;
    color: #9F9F9F;
    margin-bottom:0px;
    padding-top: 16px;
    padding-left: 16px;
}

.progress-status-percentage{
    font-weight: 700;
    font-size: 22px;
    color: #FFF300;
    padding-left: 16px;
    margin-top:4px;
}

.progress-box {
  background: #1A1A1A;
  padding: 16px;
  border-radius: 0px;
}

.progress {
  height: 13px;
  border-radius: 0px;
  background: #333333;
  position: relative;
}

.progress-bar {
  position: absolute;
  top: 0;
  bottom: 0;
 background: #FFF300;
 border-right: 2px solid #1A1A1A;
}

.progress-bar-2 {
  left: 16%;
  background: #FFF300;
}

.progress-bar-3 {
  left: 33%;
background: #FFF300;
}

.progress-bar-4 {
  left: 50%;
  background: #FFF300;
}

.progress-bar-5 {
  left: 67%;
  background: #FFF300;
}

.progress-bar-6 {
  left: 84%;
  background: #FFF300;
}

.progress-labels {
  display: flex;
  justify-content: space-between;
  /*margin-top: 4px;*/
}

.progress-label {
  width: 20%;
  text-align: center;
  color: #fff;
}

.progress-label h5 {
  margin: 0;
}

.progress-upper-heading {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom:0px;
  margin-bottom: 4px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 91%;
}

.progress-bottom-heading {
  font-weight: 500;
  font-size: 11px;
  color: #808080;
  margin-bottom:0px;
  margin-top: 4px;
  text-align: left;
}

.log-btn-mob-sty {
  width: 100%;
 background: #F13B3B;
  height: 60px;
  margin-top: 430px;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0F0F0F;
  padding: 24px 24px 24px 24px;
}
.nav-searchbar{
      width:33%;
}


.sidebar-row-where-content{
    padding:24px;
}

.sidebar {
  position: fixed;
  top: 111px;
  right: -395px; /* initially hide the sidebar */
  width: 368px;
  height: 90%;
  background: #0F0F0F;
  border:1px solid #333333;
  transition: right 0.3s ease;
  overflow-y: auto; /* enable vertical scrolling */
  overflow-x: hidden;
  z-index: 9999;
  box-shadow: 0px 0px 72px 0px rgba(255, 255, 255, 0.10);
}

/* For WebKit browsers (Chrome, Safari) */
.sidebar::-webkit-scrollbar {
  width: 8px; /* Adjust the scrollbar width */
}

.sidebar::-webkit-scrollbar-track {
  background-color: #0F0F0F; /* Change the track color */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #333333; /* Change the thumb color */
}

.sidebar.open {
  right: 3px; /* slide in the sidebar when open class is added */
}

.close-button {
    position: absolute;
    top: 15px;
    left: 316px;
    cursor: pointer;
    background:none !important;
    border-radius: 2px;
}

/* your assets click lot style */

.side-lot {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-text {
  font-weight: 400;
  font-size: 11px;
  color: #808080;
  margin-top:16px;
  margin-bottom:0px;
}

.side-text2 {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
   margin-top:8px;
  margin-bottom:0px;
}

.share {
  font-weight: 500;
  font-size: 14px;
  color: #9F9F9F;
}

.link {
  font-weight: 400;
  font-size: 16px;
  color: #9F9F9F;
  text-decoration: none;
}

.link-back {
  background: #EBEBEB;
  padding: 16px;
}

.breadcrumb-deco {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #9F9F9F;
}


.TAGS {
  font-weight: 400;
  font-size: 14px;
  color: #9F9F9F;
}

.under-acco-button {
  font-weight: 400;
  font-size: 12px;
  background: #D1D1D1;
  width: 100%;
  color: #9F9F9F;
}

.Assign-tags {
  font-weight: 400;
  font-size: 12px;
  color: #808080;
  cursor: pointer;
}

.heading-details {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom:0px;
}

.remove-tag {
  font-weight: 400;
  font-size: 12px;
  color: #BE5656;
}

.add-more-tag-btn {
  font-weight: 400;
  font-size: 12px;
  color: #9F9F9F;
  padding: 10px;
}

.div-accor-button {
  background: #D1D1D1;
  font-weight: 400;
  font-size: 16px;
  color: #9F9F9F;
}

.editedandraw-img-btn {
  padding: 16px;
  gap: 8px !important;
  width: 100% !important;
  height: 52px !important;
  font-weight: 500;
  color: #808080;
  font-size: 14px;
  /*background: #1A1A1A !important;*/
  border-radius: 0px !important;
  
}

.Adaptation {
  background: #EBEBEB;
  height: 56px;
  font-weight: 400;
  font-size: 16px;
  color: #9F9F9F;
  width: 100%;
}

.brand-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
}

.brand-div {
  background: #1A1A1A;
   padding:16px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  align-items: center;
}

.brand {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  /*margin-top: 9px;*/
  margin-bottom:0px;
}

.brand-div2 {
  padding:16px;
 background: #1A1A1A !important;
  margin-left: 0px;
  margin-right: 0px;
  display:flex;
  align-items:center;
}

.brand-img {
  /*padding: 16px;*/
  background: #333333;
  border-radius: 0px;
  object-fit: cover;
  height: 317.33px;
  object-position: top;
  width: 100%;
}

.brand-img-m {
  margin-left: 0px;
  margin-right: 0px;
  background: #EBEBEB;
}

.brand-img-name {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  overflow-wrap: anywhere;
  margin-bottom: 0px;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Admin Panel */

.create-user-btn {
  font-weight: 500;
  font-size: 16px;
  color: #9F9F9F;
}

button.btn.btn-lg.border.profile-btn:hover{
    color: #0F0F0F; 
}

a.btn.btn-lg.border.profile-btn-cancel:hover{
    color: #FFFFFF; 
}

button#picDeleteBTN:hover {
    background: rgba(241, 59, 59, 0.1);
    color: #F13B3B;
}

.your-profile-form{
    background: #0F0F0F;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    border:1px solid #9F9F9F !important;
}

button.btn.border.rounded-0.user-btn:hover {
    background: #FFF300;
    color: #0F0F0F;
}
.form-floating input:not(:placeholder-shown)~label, .form-floating textarea:not(:placeholder-shown)~label {
    transform: translate(0, -50%);
    top: 0;
    left: 0.5rem;
    opacity: 1;
    background: #0F0F0F !important;
    padding: 0 0.25rem;
    color: #FFFFFF !important;
    font-weight: 600;
    font-size: 11px;
    height: 20px;
}

input#clientPhone:focus {
    background: #0F0F0F;
    color: #FFFFFF;
}

input#clientLastName:focus {
    background: #0F0F0F;
    color: #FFFFFF;
}

input#clientFirstName:focus {
    background: #0F0F0F;
    color: #FFFFFF;
}

input#clientEmail:focus {
    background: #0F0F0F;
    color: #FFFFFF;
}

.verfication-modal-body{
    background: #0F0F0F;
}

.verifiy-text{
    font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 40px !important;
}

.code-sms-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
   color: #808080;
   margin-top:24px !important;
}

.acnt-verify-wrapper .verify-btn {
    color: #0F0F0F !important;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: #FFF866 !important;
    outline: 0;
    border-radius:0px;
    padding:16px;
}

.verification-inputs{
    background: #0F0F0F !important;
    border: 1px solid #333333!important;
}

.back-btn {
  color: #808080;
  background: #FFFFFF;
  margin-top: 0px;
  font-weight: 500;
  font-size: 16px;
}

.add-user-para{
    font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #808080;
}

.create-user-txt {
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 35px;
}

.user-form {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  background:#0F0F0F;
  border:1px solid #808080;
  padding: 16px;
}

.mult-select-tag .body {
    display: flex;
    border: 1px solid #808080;
    background: #0F0F0F;
    min-height: 2.15rem;
    width: 100%;
    min-width: 14rem;
    padding: 8px;
    border-radius: 0px !important;
}

input.form-control.form-control-lg.rounded-0.mb-4.user-form:focus {
    background: #0F0F0F;
    color: #FFFFFF;
    border-radius: 0px;
    box-shadow: none;
}

.mult-select-tag .btn-container {
    color: #e2ebf0;
    padding: 0.5rem;
    display: flex;
     border-left: 1px solid #0F0F0F; 
}



.mult-select-tag .item-label {
    max-width: 100%;
    line-height: 1;
    font-size: .75rem;
    font-weight: 400;
    flex: 0 1 auto;
    color: #FFFFFF;
    font-family: 'Poppins';
}

.mandatory {
  font-weight: 400;
  font-size: 12px;
  color: #9F9F9F;
}

.user-btn {
  font-weight: 500;
  font-size: 16px;
  color: #0F0F0F;
  height: 56px;
  background: #FFF300;
  border: 1px solid #0F0F0F !important;
  padding:12px 24px;
}

 .pic-delete-btn{
    background: var(--neutral-600, #4D4D4D);
    color: var(--neutral-400, #808080);
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    padding:12px 24px;
}

.no-hooman-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
}

.no-hooman-under-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #808080;
    margin-bottom: 0px;
}

.default-pass {
  font-weight: 400;
  font-size: 11px;
  color: #9F9F9F;
}

.odn-sign {
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
}

.table-head {
  font-weight: 500;
  font-size: 14px;
  color: #9F9F9F;

}

.table-col {
  font-weight: 400;
  font-size: 16px;
  color: #9F9F9F;
}

.table-desc {
  font-weight: 500;
  font-size: 12px;
  color: #9F9F9F;
  background: #EBEBEB;
  padding: 5px;
}



.log-out-button {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: #808080;
   margin-top: 210px; 
  border-radius: 0px;
  align-self: flex-end;
  
}

.log-btn {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.myPopover {
  display: none;
  position: absolute;
 background: #0F0F0F;
 border: 2px solid #333333;
 box-shadow: 4px 16px 40px rgba(255, 255, 255, 0.06);
  padding: 10px;
  z-index: 5;
  min-width: 50%;
  width: 74%;
  left: 12%;
  line-height: 2.5;
  padding-left: 20px !important;
  /*top: 49px;*/
}

.myPopover a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
}

.myPopover a:hover{
  color: #FFFFFF;
}

/* form floating on top */

.form-floating {
  position: relative;
}

.form-floating label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.9rem;
  opacity: 0.5;
  transition: all 0.2s ease-out;
  pointer-events: none;
}

.form-floating>label{
    background:#0F0F0F !important;
}

.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: 1;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
    font-size: 14px;
    font-weight: 500;
}

.form-floating input,
.form-floating textarea {
  padding: 1.5rem 0.5rem 0.5rem;
  font-size: 1rem;
}

.form-floating input:focus,
.form-floating textarea:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.form-floating input:focus~label,
.form-floating textarea:focus~label,
.form-floating input:not(:placeholder-shown)~label,
.form-floating textarea:not(:placeholder-shown)~label {
  transform: translate(0, -50%);
  top: 0;
  left: 0.5rem;
  opacity: 1;
  background-color: white;
  padding: 0 0.25rem;
  color: #B8B8B8;
  font-weight: 400;
  font-size: 11px;
}

.profile-btn {
     color: var(--neutral-900-main, #0F0F0F);
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
     border-radius: 0px;
    letter-spacing: 0.15px;
     padding: 16px 32px;
     background:#FFF300;
     border:0px solid black !important;
     display:flex; 
     align-items:center; 
     gap:8px;
}

.profile-btn-cancel{
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    padding: 16px 32px;
    color: var(--shades-0, #FFF);
     border-radius: 0px;
    letter-spacing: 0.15px;
     display:flex; 
     align-items:center; 
     gap:8px;
}

.profile-and-cancel-details{
    gap:24px;
}

.user-btn .pic-delete-btn{
    
}


.verification-div {
  padding: 5px;
  margin-left: 0px;
  margin-top:24px;
}

.under-verification-div-tag{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #808080;
}

.under-verification-div-tag-head{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

@media only screen and (min-width: 992px) and (max-width: 1325px) {
  .siderbar-button {
    font-size: 8px;
    font-weight: 700;
  }

  .box-container-responsive {
    justify-content: center;
    margin-right: 0px !important;
  }

  .lots-bar {
    display: contents;
  }

  .div-accor-button {
    font-size: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  .main-container-resp {
    width: 100%;
    margin-top: 536px;
  }
  .sidebar-position{
    position:absolute !important;
}
  
  .box-container-responsive {
    justify-content: center;
  }

  .log-btn-mob-sty {
    margin-top: 0px;
  }

  .log-out-button {
    margin-top: 0px !important;
  }

  .lots-bar {
    display: contents;
  }

  .wrc-box {
    display: grid !important;
    justify-content: center !important;
  }

  .wrc-detail-img {
    display: grid !important;
    justify-content: center !important;
  }

  .brand-text {
    margin-top: 14px;
  }
}


@media only screen and (max-width: 576px) {

  .box-container-responsive {
    justify-content: center;
  }
  
  .sidebar-position{
    position:absolute !important;
  }

  .log-btn-mob-sty {
    margin-top: 0px;
  }

  .main-container-resp {
    width: 100%;
    margin-top: 536px;
  }

  .last-button-mar {
    justify-content: center;
  }

  .last-btn-div {
    display: flex !important;
    flex-direction: column;
  }

  .progress-bottom-heading {
    font-weight: 500;
    font-size: 8px;
    color: #9F9F9F;
  }

  .progress-upper-heading {
    font-weight: 400;
    font-size: 10px;
    color: #9F9F9F;
  }

  .lot-no-sty {
    font-weight: 400;
    font-size: 12px;
    color: #9F9F9F;
    /* margin-left: 24px; */
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .lot-date-sty {
    font-weight: 400;
    font-size: 9px;
    letter-spacing: 0.25px;
   color: #808080;
    margin-top: 12px;
    
  }

  .inward-sty {
    font-weight: 400;
    font-size: 9px;
    letter-spacing: 0.5px;
    margin-right: 4px;
    color: #9F9F9F;
    margin-top: 60px;
  }

  .table-heading-sty {
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    color: #808080;
  }

  .table-column {
    font-weight: 400;
    font-size: 8px;
    color: #9F9F9F;
  }

  .wrc-no-sty {
    font-weight: 400;
    font-size: 9px;
    color: #FFFFFF;
  }

  .last-button {
    font-weight: 500;
    font-size: 12px;
  }
  
 
  .log-out-button {
    margin-top: 0px !important;
  }

  .tab-button {
    width: 269px !important;
    background: #1A1A1A;
  }

  /*.your_assets_tab .tab-button{*/
  /*  display: flex;*/
  /*  flex-direction: row;*/
  /*  justify-content: center;*/
  /*  align-items: center;*/
  /*  padding: 16px;*/
  /*  gap: 8px !important;*/
  /*  width: 539px !important;*/
  /*  height: 52px !important;*/
  /*  font-weight: 500;*/
  /*  font-size: 14px;*/

    /* ODN Color/Neutral/100 */

  /*  background: #D1D1D1 !important;*/
  /*  border-radius: 0px !important;*/
    /* Inside auto layout */
  /*  border: 2px solid #ffffff !important;*/
  /*  flex: none;*/
  /*  order: 0;*/
  /*  flex-grow: 1;*/
  /*}*/

  .lots-bar {
    display: contents !important;
  }

  .wrc-detail-img {
    display: grid !important;
    justify-content: center !important;
  }

  .wrc-box {
    display: grid !important;
    justify-content: center !important;
  }
}

/*@keyframes growProgressBar {*/

/*  0%,*/
/*  33% {*/
/*    --pgPercentage: 0;*/
/*  }*/

/*  100% {*/
/*    --pgPercentage: var(--value);*/
/*  }*/
/*}*/

/*@property --pgPercentage {*/
/*  syntax: '<number>';*/
/*  inherits: false;*/
/*  initial-value: 0;*/
/*}*/


/*div[role="progressbar"] {*/
/*    --size: 3rem;*/
/*    --fg: #FFF866;*/
/*    --bg: #333333;*/
/*    --pgPercentage: var(--value);*/
/*    animation: growProgressBar 3s 1 forwards;*/
/*    width: var(--size);*/
/*    height: var(--size);*/
/*    border-radius: 80%;*/
/*    display: grid;*/
/*    place-items: center;*/
/*    background: radial-gradient(closest-side, #1A1A1A 80%, transparent 0 101%, #0c0c0c 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);*/
/*    font-family: Helvetica, Arial, sans-serif;*/
/*    font-size: calc(var(--size) / 5);*/
/*    color: #FFF866;*/
/*}*/

/*div[role="progressbar"]::before {*/
/*  counter-reset: percentage var(--value);*/
/*  content: counter(percentage) '%';*/
/*}*/



/*zoomable image*/
  .zoomable-image {
            cursor: zoom-in;
        }

        .zoomed-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 9999;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease;
        }

        .zoomed-image {
            max-width: 80%;
            max-height: 80%;
            filter: blur(8px);
            transition: filter 0.3s ease;
        }

        .zoomed-container.active {
            opacity: 1;
            pointer-events: auto;
        }

        .zoomed-container.active .zoomed-image {
            filter: none;
        }

        .navigation-buttons {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            z-index: 9999;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease;
        }

        .navigation-buttons button {
            font-size: 24px;
            color: white;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px;
            margin: 0 10px;
        }

        .navigation-buttons.left {
            left: 20px;
        }

        .navigation-buttons.right {
            right: 20px;
        }

        .navigation-buttons.active {
            opacity: 1;
            pointer-events: auto;
        }